@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #F97316;
  --color-primary-dark: #EA580C;
  --color-primary-light: #FFF7ED;
  --color-slate-dark: #0F172A;
  --color-slate-mid: #475569;
  --color-slate-light: #F8FAFC;
}

:root {
  --background: #ffffff;
  --foreground: #0F172A;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
